:root { 

  --basic-black:#000000;
  --basic-light-black:#283136;
  --basic-white: #FFFFFF;
  --basic-light-grey: #EEEEEE;
  --basic-grey: #888888;
  --basic-dark-grey:#A6A6A6;
  --basic-extra-grey:#4D4D4D;
  --basic-red: #FB565A;
  --basic-dark-red: #E74246;
  --basic-extra-red: #D7373B;
  --basic-green: #00CA74;
  --basic-dark-green:#00BC6C;
  --basic-extra-green: #00AA62;
  --basic-yellow:  #EFC84A; 
  --basic-dark-yellow: #EAB534;
  --basic-extra-yellow: #E5A722;
}


body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);

}

  a { 
    text-decoration: none;
  }
 
  .page {
    height: 100%;
  }

.page-body {
    min-height: 100%;
 
  }

/* Main header */

.main-header {
    padding-top: 50px;
    text-transform: uppercase;
    background-color: var(--basic-light-grey);
    list-style: none;
}

.inner-page .main-header {
    margin-bottom: 55px;
    background-color: var(--basic-light-grey);
    text-transform: uppercase;
  }

  
/*Main navigation*/ 

.main navigation {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--basic-black);
    background-color: var(--basic-light-grey); 
 }

  /*Logo*/

  .main-header-logo {
    order: 0;
    width: 160px;
    height: 65px;
    background-color: var(--basic-light-grey);
  }


   /*Container */

   .container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
   
  }

  .main-navigation-wrapper {
    width: 100%;
    background-color: var(--basic-light-grey);
    color: var(--basic-black);
    text-transform: uppercase;
    order: 0;
    display:flex;
    justify-content: space-between;
 }

 /*Site navigation*/

  .site-navigation {
    width: 289px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: var(--basic-light-grey);
  }

  .site-navigation-current a:not([href]) { 
  color: var(--basic-black);
  }

  /* User navigation*/

  .user-navigation {
    max-width: 140px;
  }

 .site-navigation a,
 .user-navigation a {
   color: var(--basic-black);
   background-color: var(--basic-light-grey);
  }

 .site-navigation a:hover,
 .user-navigation a:hover {
   color: var(--basic-red);
  } 
 .site-navigation a:focus,
 .site-navigation a:active,
 .user-navigation a:focus,
 .user-navigation a:active {  
   color: var(--basic-black);
   opacity: 0.3;
  }

  /*Cart link*/

  .user-navigation .cart-link {
    padding-left: 50px;
  }
 
  /*Slider*/

  .slider-title {
    font-size: 55px;
    line-height: 55px;
    font-weight: bold;
  }

  .slider-item {
    font-size: 16px;
    line-height: 24px;
  }
  

  /*Service*/

  .service-list {
  list-style: none;
  }

.service-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: start;
  columns-gap: 20px;
   
}

.text-sup {
   color: var(--basic-black);
   background-color: var(--basic-white);
   font-size: 24px;
   line-height: 30px;
   font-size: 500;
   text-transform: uppercase;
}
.text-sub {
   color: var(--basic-black);
   background-color: var(--basic-white);
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   margin-bottom: 96px;
}
 
.button-red {
  position: absolute;
  margin-top: -64px;
  width: 160px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.button-red a: hover, focus {
  background color: var(--basic-dark-red);
}

.button-red a: active {
  background-color: var(--basic-extra-red);
  color: var(--basic-whithe);
  opacity: 0.3;
}

.button-green a: hover,focus {
  background-color: var(--basic-dark-green);
}

.button-green a: active {
  background-color: var(--basic-extra-green);
  color: var(--basic-whithe);
  opacity: 0.3;

}

.button-yellow a: hover,focus {
  background-color: var(--basic-dark-yellow);
}

.button-yellow a: :active {
  background-color: var(--basic-extra-yellow);
  color: var(--basic-whithe);
  opacity: 0.3;
  
}

.button-green {
  position: absolute;
  margin-top: -64px;
  width: 160px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  font: inherit;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.button-yellow {
  position: absolute;
  margin-top: -64px;
  justify-content: center;
  width: 160px;
  height: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border-radius: 3px;
  font: inherit;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-yellow);
}

/*
.visually hidden h1,h2, h3 {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
}*/
  

 /*Desсription*/

  .desсription-about {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 45px;
    line-height: 45px;
    font-size: 500;
  }

  .desсription-features {
    color: var(--basic-light-black);
    background-color: var(--basic-white);
    font-size: 16px;
    line-height: 24px; 
    font-size: 400;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  
  .desсription-title { 
    color: var(--basic-light-black);
    background-color: var(--basic-white);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    text-transform: uppercase;
  } 
  
  .desсription-list {
    color: var(--basic-light-black);
    background-color: var(--basic-white);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-style: normal;
  }

  .description-item {
    color: var(--basic-light-black);
    background-color: var(--basic-white);
    font-size: 16px;
    line-height: 24px;
    font-size:400 ;
    list-style: none;
  }


 /*Statistic*/

  .stats-title {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .procent-numbers {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 45px;
    line-height: 64px;
    font-size: 500;
  }

  .text-sub {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 16px;
    line-height: 18px;
    font-size: 400;
  }

  
  .stats-item {
    list-style: none;
  }
  .stats-title {
    text-transform: uppercase;
  } 
  .stats-item procent {
    font-size: 26px;
    line-height: 40px;
    font-weight: 400;
  }
  .text-subb {
    color: var(--basic-black);
    background-color: var(--basic-white);
    font-size: 16px;
    line-height: 18px;
    font-size: 400;
  }
   
  .button-mail {
    position: absolute;
    width: 219px;
    height: 50px;
    border-radius: 3px;
    color: var(--basic-white);
    background-color: var(--basic-red);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
  }

  
  .map-wrapper {
    margin-top: 100px;

  }
  /* Social button*  
  
  .social-button {
    color: inherit;
  }
  .social-button: {
    color: var(--basic-white);
    background-color: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
  }
  .social-button:hover,
  .social-button:focus {
    color: var(--basic-white);
    background-color:  linear-gradient(0deg, #E74246, #E74246) #FFFFFF;
  }
  .social-button:active {
    color: #FFFFFFF
    background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1)
  }


  /*Catalog*/

  .inner-page .main-header: {
   color: var(--basic-white);
  }

  .catalog-title {
    position: center;
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: var(--basic-black);
    background-color: var(--basic-light-grey);
    text-align: center;
  }
  .grid-item {
    list-style: none;
    color: var(--basic-light-black);  
  }

  .features-item {
    list-style: none;
    color: var(--basic-light-black);
  }

  .features-button {
    position: absolute;
    width: 260px;
    height: 50px;
    border-radius: 3px;
    color: var(--basic-dark);
    background-color: var(--basic-light-grey);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase; 
  }
  
  
  .product-item {
    list-style: none;
  }
  
  .clients-item {
    list-style: none;
  }

  
  
  
  
  

