:root { 

  --basic-black:#000000;
  --basic-white: #FFFFFF;
  --basic-light-grey: #EEEEEE;
  --basic-grey: #888888;
  --basic-dark-grey:#A6A6A6;
  --basic-red: #FB565A;
  --basic-dark-red: #E74246;
  --basic-extra-red: #D7373B;
  --basic-green: #00CA74;
  --basic-dark-green:#00BC6C;
  --basic-extra-green: #00AA62;
  --basic-yellow:  #EFC84A; 
  --basic-dark-yellow: #EAB534;
  --basic-extra-yellow: #E5A722;
}
body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto, Arial, sans-serif";
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: var(--basic-black);
  background-color: var(--basic-white);
  }

  a { 
    text-decoration: none;
  }
  img { 
    max-width: 100%;
    height: auto;
  }

  /*Grid*/

  .page {
    height: 100%;
  }

  .page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

/* Main header */

.main-header {
    margin-bottom: 80px;
  }

/* Main navigation */

.main navigation {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-black);
    background-color: transparent;
    background-position: top center;
    background-repeat: no-repeat;
  }
  .main-navigation-wrapper {
    width: 100%;
    margin-bottom: 86px;
    background-color: var(--basic-light-grey);
  }

  /*Logo*/

  .main-header-logo {
    order: 0
    width: 160px;
    height: 49px;
  }

  /*Container */

  .container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
  }


 .site-navigation {
   list-style: none};
 .site-navigation-current a: not([href]) { 
   background-color: var(--basic-grey);   
  }
/* User navigation*/

 .site-navigation a,
 .user-navigation a {
  color: var(--basic-black);
   }
 .site-navigation a:hover,
 .user-navigation a:hover
  {color: var(--basic-red);} 
 .site-navigation a:focus,
 .site-navigation a:active,
 .user-navigation a:focus,
 .user-navigation a:active   
  {color: var(--basic-dark-grey);}


  /*Index columns*/ 

 .index-columns {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: center;
  list-style: none;
  font-size: 24px;
  line-height: 30px;
 .service-list {
  color: var(--basic-black); 
  }
  
   /* Social button*/  
  
  .social-button {
    color: inherit;
  }
  .social-button: {
   color: var(--basic-white);
   background-color: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
   }
  .social-button:hover,
  .social-button:focus {
    color: var(--basic-white);
    background-color:  linear-gradient(0deg, #E74246, #E74246) #FFFFFF;
  .social-button:active; {
    color: #FFFFFFF
    background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1)
  }
  
  

